# TypeScript/JavaScript
typescript/**/client
node_modules/
*.tsbuildinfo
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
.env

# Suga
.suga/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

terraform.tfvars
.terraform/
.claude/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
